{% extends "partials/base.html" %}
{% block title %} Order Page {% endblock title %}
{% block content %}
{% include 'partials/topnav.html' %}
 <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4"></div>
            <div class="col-md-12">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col" class="bg-info text-white">Product</th>
                            <th scope="col" class="bg-info text-white">Category</th>
                            <th scope="col" class="bg-info text-white">Quantity</th>
                            <th scope="col" class="bg-info text-white">Order by</th>
                            <th scope="col" class="bg-info text-white">Date</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for order in orders %}
                        <tr>
                            <td>{{order.product.name}}</td>
                            <td>{{order.product.category}}</td>
                            <td>{{order.order_quantity}}</td>
                            <td>{{order.staff.username}}</td>
                            <td>{{order.date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--End Table-->
{% endblock content %}