html,body{
    height:100%;
}
.container-fluid{
    min-height:100%;
}

/* services icon color */
.icolor{
    color:chartreuse;
}
#icolor{
    color:chartreuse;
}
/* services subtitle color */
.scolor{
    color:whitesmoke;
}