{% extends "partials/base.html" %}
{% block title %} Login Page {% endblock title %}
{% block content %}

<center>

    <div class="cont" style='opacity:2;'>
    <h2 class="p-0 mb-2 text-center mb-4" style='margin-top:0;'>Password Reset Done</h2><b><hr style='color:black;margin-top:0;padding:0;'>
        <br>
    </b>
    <div class="message-box alert alert-info " style='background-color:rgba(222, 226, 230, 0.86);'  >
      An email has been sent with instructions to reset your password. <b>Check Your Email</b>
    </div>
    <p class="text-center">If you don't see the email in your inbox, please check your spam or junk folder.</p>
    <div class="text-center mt-4">
    </div>
  </div>

</center>

{% endblock  %}