{% extends "partials/base.html" %}
{% block title %} Login Page {% endblock title %}
{% block bodyy %}
<body style='background-color:white;'>
{% block content %}
{% include 'partials/nav.html' %}
<div class="container">
    <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
    <br>
    <h3>Reset Password Completed !</h3><hr>
    <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtK" width="200" height="200"
        frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
  </div>
 </div>
</div>
{% endblock %}
{% endblock %}